:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --gris: rgb(236, 236, 236);
    --negro: #000;
    --blanco: #fff;
    --azulBuscar: #4a8ad4;
    --grisOscuro:gray;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
}

a {
    text-decoration: none;
    color: var(--negro);
}

.header {
    display: grid;
    margin: 0;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 12fr 1fr 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 10;
    box-shadow: 0px 17px 19px -17px rgba(0,0,0,0.10);
}

.nav__enlace {}

.nav--activo {
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 40px;
    text-align: center;
    padding: .7rem 1rem;
}

.buscar__input {
    width: 100%;
    border: none;
    padding: .6rem;
    border-radius: 1rem;
    background-color: var(--gris);

}

.buscar__input:focus {

    border: solid 5px;
    border-color: var(--azulBuscar);
    outline: none;

}
.buscar__icono{
    display: none;
}
.inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mas{
    display: none;
}
.main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5rem 1rem;
}
.elemento{
    width: 236px;
    height: 432px;
    border: none;
    
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
}
.alturadif{
    height: 390px;

}
.imgpos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Esto desplaza la imagen para que esté perfectamente centrada */
    width: auto;
    height: 100%;
    
    
}
@media (max-width:768px ) {
    .buscar__icono{
        display: block;
    }
    .buscar__input{
        display: none;
    }
    .header{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .nav__enlace{
        display: none;
    }
    .nav--activo {
        background-color: transparent;
        color: var(--grisOscuro);
        border-radius: 40px;
        text-align: center;
        padding: .7rem 1rem;
    }
    .mas{
        display: block;
    }
}