:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --gris: rgb(236, 236, 236);
    --negro: #000;
    --blanco: #fff;
    --azulBuscar: #4a8ad4;
    --grisOscuro: gray;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
}

a {
    text-decoration: none;
    color: var(--negro);
}

.header {
    display: grid;
    margin: 0;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 12fr 1fr 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 17px 19px -17px rgba(0, 0, 0, 0.10);
}

.nav__enlace {}

.nav--activo {
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 40px;
    text-align: center;
    padding: .7rem 1rem;
}

.buscar__input {
    width: 100%;
    border: none;
    padding: .6rem;
    border-radius: 1rem;
    background-color: var(--gris);

}

.buscar__input:focus {

    border: solid 5px;
    border-color: var(--azulBuscar);
    outline: none;

}

.buscar__icono {
    display: none;
}

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mas {
    display: none;
}

.grid-principal {
    margin: 6rem 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

}

.columna-principal {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    align-content: flex-start;


}



.elemento {

    border: none;

    overflow: hidden;
    position: relative;
    border-radius: .5rem;
}

.imgpos {
    width: 100%;
    height: 100%;
}

.opciones {
    display: none;


}

.elemento:hover .opciones {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.opciones__elementos {

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    height: 100%;
}

.opciones-superior {

    display: flex;
    padding: .9rem .5rem;
    gap: .5rem;
    justify-content: space-between;


}

.pines,
.boton-guardar {
    color: #fff;
    font-size: .65rem;
}

.boton-guardar {

    background-color: red;
    padding: .5rem .2rem;
    border-radius: 20px;
}

.opciones-inferior {
    display: flex;
    justify-content: flex-end;
}

.boton-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: .4rem .2rem;
    padding: .2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

@media (max-width:768px) {
    .buscar__icono {
        display: block;
    }

    .buscar__input {
        display: none;
    }

    .header {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .nav__enlace {
        display: none;
    }

    .nav--activo {
        background-color: transparent;
        color: var(--grisOscuro);
        border-radius: 40px;
        text-align: center;
        padding: .7rem 1rem;
    }

    .mas {
        display: block;
    }

}
@media (min-width: 200px) and (max-width: 300px) {
    .grid-principal{
        grid-template-columns:1fr;
        
    }
}
@media (min-width: 301px) and (max-width: 600px) {
    .grid-principal{
        grid-template-columns:repeat(2,1fr);
        
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .grid-principal{
        grid-template-columns:repeat(3,1fr);
        
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .grid-principal{
        grid-template-columns:repeat(4,1fr);
        
    }
}
@media (min-width: 1201px) and (max-width: 1500px) {
    .grid-principal{
        grid-template-columns:repeat(5,1fr);
        
    }
}
